
.deco-file label{
    display: inline-block;
    border: 4px solid #1E88E5;
    color: #1E88E5;
    text-align: center;
    padding: 20px 40px;
    border-radius: 50%;
}
.deco-file label:hover{
    cursor: pointer;
}
.deco-file input[type="file"]{
    display: none;
}